.caixaBuscador{
    max-width: 1600px;
    width: 100%;
    display: grid;
    box-shadow: 0 5px 20px 0 rgb(34 34 32 / 20%) ;
    margin: 0 auto ;
    padding: 10px;
    grid-template-columns: 3fr 3fr 1fr;
    margin-top: 80px;
    border-radius: 5px;
}



.localProf input, .nomeProf input{
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    padding: 10px;
   

}
.nomeProf{
    position: relative;
}

.nomeProf input{
        border-right: 2px solid #CCC;
        padding-left: 30px;
        
}

.nomeProf::before{
    content: '';
    background-image: url('https://c.superprof.com/style/images/search_bar/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: 15px;
    left: -9px;
    position: absolute;
   
}



.btnEnviaProf{
    border-radius: 10px;
    background-color: #ff6363;
    border: none;
    padding: 16px 0px;
    color: white;
    font-weight: bold;



}




